<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StreamLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StreamLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StreamLauncher.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LiveStreamerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MediaPlayerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MediaPlayerArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferredLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferredEventType" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferredQuality" serializeAs="String">
                <value />
            </setting>
        </StreamLauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <StreamLauncher.Properties.Settings>
            <setting name="HockeystreamsApiKey" serializeAs="String">
                <value>170404a094468fbdd0bea2f9621d772e</value>
            </setting>
            <setting name="HockeystreamsScoresApiKey" serializeAs="String">
                <value>3560abdc296d1019a8ba8b0d893f07a3</value>
            </setting>
        </StreamLauncher.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GalaSoft.MvvmLight" publicKeyToken="e7570ab207bcb616" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.32240" newVersion="5.0.2.32240" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>