<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StreamLauncher.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LiveStreamerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MediaPlayerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MediaPlayerArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferredLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferredEventType" serializeAs="String">
                <value />
            </setting>
        </StreamLauncher.Properties.Settings>
    </userSettings>
</configuration>