<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hockeystreams.userName" value="userName"/>
    <add key="hockeystreams.password" value="password"/>
    <add key="hockeystreams.apiKey" value="apiKey"/>
    <add key="hockeystreams.scoresApiKey" value="scoresApiKey"/>
  </appSettings>
</configuration>